@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color: var(--black, #000);
  font-family: Ubuntu;
  font-style: normal;
  line-height: normal; */
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.svg-container {
  position: relative;
  height: 100vh;
}

.svg-container svg {
  position: absolute;
  bottom: 0;
}